# dependencies
/node_modules
/.pnp
.pnp.js
.direnv

# testing
/coverage

# production
/build
/dist
/.log
/data

# misc
.DS_Store
*.pem
.vscode
.eslintcache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.dev
.env

# typescript
*.tsbuildinfo

# yarn
package-lock.json

# webstorm/idea
.idea/
misc/